<navbar></navbar>

<main>
    <div>
        <h1></h1>
    </div>

    <div ng-cloak class="md-inline-form">

        <md-content layout-padding layout="column">
            <form name="estabelecimentoForm" ng-submit="$ctrl.styles.cadastrar()">

                <div layout="row">
                    <div flex="70">
                        <md-input-container md-no-float class="md-block">

                            <label>Nome do estabelecimento</label>
                            <input ng-model="$ctrl.styles.estabelecimento.nome" name="nome" required minlength="3" maxlength="40" />

                            <div ng-messages="estabelecimentoForm.nome.$error" style="color:red" role="alert">
                                <div ng-message="required">É necessário preencher um nome.</div>
                                <div ng-message="minlength">Nome deverá ter no mínimo 3 caractéres.</div>
                            </div>

                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-input-container md-no-float class="md-block">
                            <label>CNPJ</label>
                            <input ng-model="$ctrl.styles.estabelecimento.cnpj" required/>
                        </md-input-container>
                    </div>
                </div>

                <div layout="row">
                    <div flex="70">
                        <md-input-container md-no-float class="md-block">
                            <label>Descrição</label>
                            <textarea ng-model="$ctrl.styles.estabelecimento.descricao" md-maxlength="150" maxlength="150" required rows="2" md-select-on-focus/></textarea>
                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-select ng-model="categoria" placeholder="Categoria" class="md-no-underline">
                            <md-option value="Bar">Bar</md-option>
                            <md-option value="Balada">Balada</md-option>
                            <md-option value="Restaurante">Restaurante</md-option>
                        </md-select>
                    </div>
                </div>

                <div layout="row">
                    <div flex="30">
                        <md-input-container md-no-float class="md-block">
                            <label>Telefone</label>
                            <input ng-model="$ctrl.styles.estabelecimento.telefone" required />
                        </md-input-container>
                    </div>
                    <div flex="30">
                        <md-input-container md-no-float class="md-block">
                            <label>Celular</label>
                            <input ng-model="$ctrl.styles.estabelecimento.celular" />
                        </md-input-container>
                    </div>
                </div>

                <div layout="row">
                    <div flex="15">
                        <md-input-container md-no-float class="md-block">
                            <label>CEP</label>
                            <input ng-model="$ctrl.styles.estabelecimento.cep" required />
                        </md-input-container>
                    </div>
                    <div flex="55">
                        <md-input-container md-no-float class="md-block">
                            <label>Rua</label>
                            <input ng-model="$ctrl.styles.estabelecimento.rua" required />
                        </md-input-container>
                    </div>

                    <div flex="10">
                        <md-input-container md-no-float class="md-block">
                            <label>Nº</label>
                            <input ng-model="$ctrl.styles.estabelecimento.numero" required />
                            <!--TODO:Tirar o efeito que esta criando-->
                        </md-input-container>
                    </div>

                    <div flex="20">
                        <md-input-container md-no-float class="md-block">
                            <label>Complemento</label>
                            <input ng-model="$ctrl.styles.estabelecimento.complemento" />
                        </md-input-container>
                    </div>
                </div>

                <div layout="row">
                    <div flex="60">
                        <md-input-container md-no-float class="md-block">
                            <label>Bairro</label>
                            <input ng-model="$ctrl.styles.estabelecimento.bairro" required />
                        </md-input-container>
                    </div>
                    <div flex="15">

                        <md-select name="estado" ng-model="estado" placeholder="Estado" class="md-no-underline">
                            <md-option value="estado">Selecione o Estado</md-option>
                            <md-option value="AC">Acre</md-option>
                            <md-option value="AL">Alagoas</md-option>
                            <md-option value="AM">Amazonas</md-option>
                            <md-option value="AP">Amapá</md-option>
                            <md-option value="BA">Bahia</md-option>
                            <md-option value="CE">Ceará</md-option>
                            <md-option value="DF">Distrito Federal</md-option>
                            <md-option value="ES">Espírito Santo</md-option>
                            <md-option value="GO">Goiás</md-option>
                            <md-option value="MA">Maranhão</md-option>
                            <md-option value="MT">Mato Grosso</md-option>
                            <md-option value="MS">Mato Grosso do Sul</md-option>
                            <md-option value="MG">Minas Gerais</md-option>
                            <md-option value="PA">Pará</md-option>
                            <md-option value="PB">Paraíba</md-option>
                            <md-option value="PR">Paraná</md-option>
                            <md-option value="PE">Pernambuco</md-option>
                            <md-option value="PI">Piauí</md-option>
                            <md-option value="RJ">Rio de Janeiro</md-option>
                            <md-option value="RN">Rio Grande do Norte</md-option>
                            <md-option value="RO">Rondônia</md-option>
                            <md-option value="RS">Rio Grande do Sul</md-option>
                            <md-option value="RR">Roraima</md-option>
                            <md-option value="SC">Santa Catarina</md-option>
                            <md-option value="SE">Sergipe</md-option>
                            <md-option value="SP">São Paulo</md-option>
                            <md-option value="TO">Tocantins</md-option>
                        </md-select>
                    </div>

                    <div flex="25">
                        <md-input-container md-no-float class="md-block">
                            <label>Cidade</label>
                            <input ng-model="$ctrl.styles.estabelecimento.cidade" required/>
                        </md-input-container>
                    </div>
                </div>

                <div>
                    <md-button type="submit" class="md-primary md-raised">Salvar</md-button>
                </div>

            </form>
        </md-content>

</main>