.botaoAdd{
    fill: white;
}

.botaoX{
    fill: white;
}

.botaoExcluir{
    background: red;
    color: white;
}

.imagemEvento {
    max-width: 100%;
    height: 400px;
}

.cardEvento {
    width: 330px;
    height: 550px;
}    