/* Esconde o input*/
/*input[type='file'] {
  display: none;
}*/

/* Aparência que terá o seletor de arquivo
label[for="upload"] {
  text-align:center;
  cursor: pointer;
  width: 400px;
  height: 440px;
  opacity: 0;

} */
