
.botaoAdd{
    fill: white;
}

.botaoX{
    fill: white;
}

.botaoExcluir{
    background: red;
    color: white;
}

.imagemEstabelecimento {
    max-width: 100%;
    height: 350px;
   
}

.cardEstabelecimento{
    width: 330px;
    height: 460px;
}